.Post{
  background-color:#f2f2f2;
  width: 18%;
  height: 380px;
  margin: 100px 0 0 500px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image{
   width: 87%;
   object-fit:contain;
  margin-left: 15px;
  border-radius: 5px;
}

.likebtn{
   margin-left: 23px;
   width: 60px;
   height: 30px;
   border-radius: 5px;
   border: none;
   background-color: #008080;
   color: white;
}
.commbtn{
  margin-left: 10px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
   border: none;
   background-color:#008080;
   color: white;
}
.sharebtn{
  margin-left: 10px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
   border: none;
   background-color: #008080;
   color: white;
}